<html>
        <head>
        </head>
        <body>
                <!-- The value defined in the yaml file is printed with the tags -->
                <h1><%=@name_of_instance_variable%></h1>
        </body>
</html>
